name: Build ZMK Firmware

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.x"

    - name: Install west and Zephyr
      run: |
        pip install --upgrade west
        west init -l firmware
        west update
        west zephyr-export

    - name: Build firmware
      run: |
        cd firmware
        west build -s app -b nice_nano # 仮置き MCU
